footer {
    background: var(--color-primary-700);
    bottom: 0;
    margin-top: 1rem;
    padding: 2.5rem;
    position: relative;
    text-align: center;
    width: 100%;
}

.text {
    color: rgba(253, 242, 233, 1);
    padding: 1rem;
}