.hero {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-bottom: 19.2rem; */
}

.btnContainer {
    padding-top: 14.6rem;
    padding-bottom: 9.8rem;
    text-align: center;
}

.content {
    height: 100%;
    padding-top: 19.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}

.title {
    color: #fff;
    /*rgba(255, 236, 209, 1.0);*/
    font-weight: 900;
    font-size: 12.4rem;
    line-height: 1.25;
    margin-left: 4.8rem;
    margin-right: auto;
    text-align: left;
    text-shadow: 5px 2px 5px rgb(194, 104, 104);
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 75%;
}

@media (min-width: 150px) and (max-width: 280.98px) {

    /* .hero {
        margin-bottom: 9.6rem;
    } */
    .title {
        font-size: 4.8rem;
    }
}

@media (min-width: 280px) and (max-width: 359.98px) {
    .title {
        font-size: 4.8rem;
    }
}

@media (min-width: 360px) and (max-width: 480.98px) {
    .title {
        font-size: 6.8rem;
    }
}

@media (min-width: 481px) and (max-width: 575.98px) {
    .title {
        font-size: 8.4rem;
    }
}

@media (min-width: 576px) and (max-width: 639.98px) {
    .title {
        font-size: 8.4rem;
    }
}

@media (min-width: 640px) and (max-width: 767.98px) {
    .title {
        font-size: 8.4rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .title {
        font-size: 8.4rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .title {
        font-size: 9.8rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .title {
        font-size: 10.6rem;
    }
}