.hero {
    background-image: url('../../assets/urns.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--color-secondary-500);
    line-height: 1.25;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s;
}

h1 {
    color: var(--color-secondary-500);
    line-height: 1.25;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
