.cartContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
  margin: 9.8rem 0 0 0;
}

.text {
  font-size: 2.4rem;
  padding: 0.5rem;
  width: 100%;
}

.container {
  /* background-color: rgba(255, 236, 209, 0.20); */
  border-radius: 7.5px;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 9.8rem auto;
  padding: 2.4rem 4.8rem;
  width: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.detailsContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 0;
}

.cartButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 9.8rem 0;
  padding: 1.2rem 2.4rem;
}

.imageContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.imageContainerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-grow: calc(1);
}

.pickerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
  width: 100%;
}

.smScreenPickerContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
}

.itemButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemContainer {
  align-items: center;
  column-gap: 9.8rem;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
}

.itemDetails {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.itemImage {
  align-self: flex-start;
  height: 35rem;
  image-resolution: from-image;
  justify-self: flex-start;
  object-fit: contain;
  resize: both;
  width: fit-content;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
}

.itemPrice {
  font-size: 1.8rem;
  margin: 0;
  padding: .1rem 0;
}


.itemDescription {
  font-size: 2.2rem;
  padding: 1.2rem 0;
  width: 100%
}

.horizontalLine {
  background-color: rgba(255, 71, 0, 1);
  border: none;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.message {
  font-size: 4.8rem;
  font-style: italic;
  text-align: left;
}

.quantityButton {
  background-color: white;
  border-color: rgba(255, 71, 0, 1);
  border-radius: 7.5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  margin: 0.25rem;
  transition: all 0.3s ease;
}

.quantityButtonContainer {
  column-gap: 4.8px;
  display: flex;
  flex-direction: row;
}

.subTotal {
  display: inline-block;
  font-size: 2.8rem;
  padding: 2.2rem;
}

.textAreaField::placeholder {
  color: #999
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
  width: 100%;
}

.textAreaField {
  border-color: #999;
  border-radius: 7.5px;
  border-style: solid;
  border-width: 0.5px;
  color: #444;
  /* font-size: 2.4rem; */
  font-weight: 400;
  padding: 0.5rem;
  width: 100%;
}

.textAreaField:focus {
  border: 0.5px solid var(--color-secondary-700);
  border-radius: 7.5px;
  box-shadow: 0 0 0 2px var(--color-secondary-700);
  outline: none;
  transition: all 0.3s ease;
}

.title {
  color: var(--color-secondary-600);
  font-size: 4.4rem;
  padding: 1.2rem 2.2rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*Media Queries*/
@media (min-width: 1px) and (max-width: 279.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
    /* margin: 0 2.5rem; */
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 100%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .itemImage {
    height: 25rem;
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 3.2rem;
  }

  .itemPrice {
    font-size: 2.2rem;
  }

  .text {
    font-size: 2.2rem;
  }

  .textAreaField {
    font-size: 2.2rem;
  }
}
.title {
  background-clip: text;
  background-image:
      linear-gradient(to right top, rgb(5, 35, 45), rgb(10, 53, 62), rgb(21, 75, 87), rgb(255, 140, 0), rgb(255, 106, 0), rgb(255, 72, 0));
  color: transparent;
  font-size: 12.6rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, .1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, .1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bolder;
  width: 100%;
  padding: 2.2rem;
}

@media screen and (max-width: 1450px){
  .title {
      font-size: 4.8rem;
      padding: 4.8rem 0;
  }
}
@media (min-width: 280px) and (max-width: 359.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  .itemImage {
    height: 25rem;
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 360px) and (max-width: 480.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  .itemImage {
    height: 25rem;
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 481px) and (max-width: 575.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  .itemImage {
    height: 25rem;
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 576px) and (max-width: 639.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  /* .itemImage{
    height: 25rem;
  } */
  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }

}

@media (min-width: 640px) and (max-width: 767.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 3.4rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  /* .itemImage{
    height: 25rem;
  } */
  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 3.4rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  /* .itemImage{
    height: 25rem;
  } */
  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 992) and (max-width: 1199.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 100%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  /* .itemImage{
    height: 25rem;
  } */
  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 65%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  /* .itemImage{
    height: 25rem;
  } */
  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) and (max-width: 1999.98px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cartContainer {
    padding: 0 4.8rem;
  }

  .container {
    margin: 0 auto 4.4rem auto;
    box-shadow: none;
    width: 65%;
  }

  .cartButton {
    margin: 0 0 4.4rem 0;
  }

  .subTotal {
    padding: 1.2rem;
    font-size: 2.4rem;
  }

  .lgScreenPickerContainer {
    display: none;
  }

  .smScreenPickerContainer {
    display: flex;
    width: 100%;
  }

  .detailsContainer {
    padding: 1.2rem 2.2rem;
  }

  .itemDescription {
    padding: 1.2rem 2.2rem;
    font-size: 2.8rem;
  }

  .textAreaContainer {
    padding: 1.2rem 2.2rem;
    width: 90%
  }

  .headingContainer {
    /* margin: 9.8rem auto 0 auto; */
  }

  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
  }

  /* .itemImage{
    height: 25rem;
  } */
  .title {
    padding: 1.2rem 2.2rem 4.8rem 2.2rem;
    font-size: 5.8rem;
  }

  .itemPrice {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2.8rem;
  }

  .textAreaField {
    font-size: 2.8rem;
  }
}


/*Media Queries*/
/* @media screen and (max-width: 1280px) {
  .container {
    width: 90%;
  }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  
} */