.container {
  background-color: rgba(255, 236, 209, 0.20);
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 9.6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 150rem;
  padding: 4.4rem;
}

.cartButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
}

.gridColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.itemButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemDescription {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  width: 100%
}

.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemName {
  font-size: 5rem;
  margin: 0;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.itemImage {
  height: 50rem;
  object-fit: cover;
  width: auto;
}

.itemHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.itemPrice {
  font-size: 2.5rem;
  padding-bottom: 0.25rem;
  margin: 0;
}

.horizontalLine {
  background-color: rgba(255, 71, 0, 1);
  border: none;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.message {
  font-size: 5rem;
  text-align: left;
  font-style: italic;
}

.pickerContainer {
  width: 50%;
}

.quantityButton {
  background-color: white;
  border-color: rgba(255, 71, 0, 1);
  border-radius: 7.5px;
  border-style: solid;
  border-width: 1px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.subTotal {
  font-size: 3.8rem;
}

/*Media Queries*/
@media screen and (max-width: 1024px) {
  .itemImage {
    align-self: center;
    height: 35rem;
    justify-self: center;
  }
}

@media screen and (max-width: 840px) {
  .gridColumns {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 4.8rem;
  }

  .itemImage {
    height: 25rem;
    object-fit: cover;
    width: auto;
  }

  .itemName {
    font-size: 3.8rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
  }

  .message {
    text-align: center;
  }

  .pickerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .subTotal {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 2.2rem;
  }

  .itemDescription {
    font-size: 2rem;
  }

  .itemImage {
    height: 20rem;
  }

  .itemName {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .itemPrice {
    font-size: 1.8rem;
    padding-bottom: 0.25rem;
  }

  .quantityButton {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.25rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 2.2rem;
  }

  .itemDescription {
    font-size: 1.8rem;
  }

  .itemDetails {
    align-items: center;
  }

  .itemImage {
    height: 15rem;
  }

  .itemName {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .itemPrice {
    font-size: 1.4rem;
    padding-bottom: 0.25rem;
  }

  .quantityButton {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.25rem;
  }
}