.title { 
    text-decoration: none;
    color: var(--color-primary-700);
    transition: color 0.3s; 
}

.heading {
    padding-bottom: 7.5rem;
    font-size: 5rem;
    text-align: center;
}

.heading:hover {
    color: var(--color-secondary-700);
  }

.headingContainer {
    margin-top: 20rem
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    margin-bottom: 12rem;
}

@media screen and (max-width: 768px) {
    .text {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
    }
}