.btnContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}



.formButtonsContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.4rem auto 0 auto;
    padding: 1.2rem 15px;
    width: 100%;
}

.formSection {
    display: flex;
    flex-direction: column;
    margin: 16px 1.2rem;
}

.heading {
    margin: 9.6rem auto
}

.label {
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 9.6rem auto;
    width: 100%;
}

.textArea {
    font-size: 2.4rem;
    padding: 7.5px 15px;
    width: 100%;
    border-radius: 7.5px;
}

.textArea:focus {
    border: 0.5px solid var(--color-secondary-700);
    border-radius: 7.5px;
    box-shadow: 0 0 0 2px var(--color-secondary-700);
    outline: none;
    transition: all 0.2s ease;
}

.textArea::placeholder {
    color: #777;
    font-size: 2.4rem;
}

.uploadField {
    font-size: 1.8rem;
}


@media screen and ((min-width: 1450px) and (max-width: 1750px)) {

    .label {
        font-size: 3.4rem;
    }

    .textArea {
        font-size: 4.4rem;
        border: 1px solid #777;
        border-radius: 7.5px;
        padding: 1rem 2rem;
    }


    .textArea::placeholder {
        font-size: 4.4rem;
    }

    .uploadField {
        font-size: 3.4rem;
    }
}

@media screen and (max-width: 1450px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }

    .section {
        height: 100%;
    }

    .formButtonsContainer {
        margin: 9.6rem auto;
    }
    .label {
        font-size: 1.8rem;
    }

    .textArea {
        font-size: 3.2rem;
    }

    .uploadField {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 1280px) {
    .label {
        font-size: 1.6rem;
    }

    .textArea {
        font-size: 2.2rem;
    }

    .uploadField {
        font-size: 1.8rem;
    }
} 


