.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 9.6rem;
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 9.8rem;
    padding-right: 9.8rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

.btnContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 9.6rem;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.formSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.hr {
    margin-bottom: 4.4rem;
    margin-top: 9.8rem;
}

.textArea {
    font-size: 2.4rem;
    font-weight: 400;
    height: 25rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: 100%;
}

.uploadField {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    font-weight: 400;
}

/*Media Queries*/
@media screen and (max-width: 1024px) {
    .container {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .form {
        width: 100%;
    }

    .hr {
        margin-bottom: 2.4rem;
        margin-top: 4.8rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .form {
        width: 100%;
    }
}