.gridContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    padding: 4.8rem 2.4rem;

    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
}

.emptyImage {
    background-color: transparent;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    overflow: hidden;
}

.image {
    align-self: center;
    border-radius: 7.5;
    height: 25rem;
    image-resolution: from-image;
    object-fit: cover;
    resize: both;
    width: fit-content;
}

.itemRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.4rem;
    row-gap: 4.4rem;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9.8rem auto;
    padding: 0 4.8rem;
}

.productName,
.price,
.description {
    color: var(--color-gray-600);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.productName {
    font-size: 2.2rem;
    color: var(--color-gray-700);
}

.description {
    font-size: 1.4rem;
}

.touched {
    opacity: 0.5;
    transition: all 0.3s;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4.8rem;
}

.noItemsMessage {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-gray-700);
    padding-top: 4.8rem;
    text-align: center;
}

.link {
    color: var(--color-secondary-700);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

@media screen and (max-width: 1500px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .itemRow {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }

}