.absoluteCenter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4.8rem;
}


.cell {
    border-radius: 1rem;
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 4.8rem 2.4rem;
    width: 100%;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 1.8rem;
    overflow: hidden;

    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dropdownContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 9.6rem 0;

}

.emptyImage {
    background-color: transparent;
    border-radius: 50%;
    height: 25rem;
    overflow: hidden;
    width: 25rem;
}

.gridContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4.4rem 9.6rem;
    width: 100%;
}

.headingMargin {
    margin-top: 9.6rem;
}

.image {
    align-self: center;
    border-radius: 7.5;
    height: 25rem;
    image-resolution: from-image;
    object-fit: cover;
    resize: both;
    width: fit-content;
}

.itemRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.link {
    color: var(--color-secondary-700);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.noItemsMessage {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-gray-700);
    padding-top: 4.8rem;
    text-align: center;
}

.row {
    column-gap: 9.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4.4rem;
}

.productLink {
    color: var(--color-secondary-700);
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    padding: 1rem;

}

.productName,
.price,
.description {
    color: var(--color-gray-600);
    font-size: 2.2rem;
    line-height: 1.5;
    padding-top: 1.2rem;
    text-decoration: none;
}

.productName {
    color: var(--color-gray-700);
    font-size: 2.8rem;
    font-weight: 700;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;

    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9.6rem auto;
    width: 90%;
}

.touched {
    opacity: 0.5;
    transition: all 0.3s;
}


@media screen and (max-width: 1750px) {
    .itemRow {
        flex-direction: column;
    }

    .productLink {
        font-size: 3.2rem;
        padding: 1rem;

    }

    .productName,
    .price,
    .description {
        font-size: 4.4rem;
        line-height: 1.25;
        padding: 0.813rem;
    }

    .price {
        font-size: 3.6rem;
    }

    .productName {
        font-size: 4.8rem;
        margin: 0;
    }


    .row {
        column-gap: 4.4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4.4rem;
    }
}

@media screen and (max-width: 1450px) {

    .price,
    .description {
        font-size: 3.6rem;
    }

    .productName {
        font-size: 4.4rem;
    }

}

@media screen and (max-width: 1280px) {
    .description,
    .price {
        font-size: 3.2rem;
    }

    .productName {
        font-size: 3.4rem;
    }

    .productLink {
        font-size: 2.4rem;
        padding: 1rem;
    }
}



@media screen and (max-width: 1024px) {
    .image {
        height: 20rem;
        width: 20rem;
    }

    .section {
        margin: 4.8rem auto;
        width: 95%;
    }
}


@media screen and (max-width: 768px) {
    .dropdownContainer {
        margin: 0 0 4.8rem 0;
    }

    .image {
        height: 20rem;
        width: 20rem;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
    }

    .price,
    .description {
        font-size: 1.8rem;
    }

    .productName {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 425px) {
    .image {
        height: 15rem;
        width: 15rem;
    }

    .price,
    .description {
        font-size: 1.6rem;
    }

    .productName {
        font-size: 2rem;
    }
}