.faqsMarginBottom {
    margin-bottom: 9.6rem;
    padding-bottom: 9.6rem;
}

@media screen and (max-width: 768px) {
    .faqsMarginBottom {
        margin-bottom: 4.8rem;
        padding-bottom: 4.8rem;
    }
}