.row {
    display: flex;
    flex-direction: row;
    column-gap: 4.4rem;
    justify-content: center;
    margin: 0rem auto 9.6rem auto;
}

.divider {
    border-left: 1px solid #000;
    height: 108rem;
    margin-bottom: 2.2rem;
    margin-top: 14rem;
}

@media screen and (max-width: 1450px) {
    .row {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

}