.buttonContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 6.4rem;
}

.container {
    background-color: rgba(255, 236, 209, 0.20);
    border-radius: 7.5px;
    margin: 0 auto;
    max-width: 150rem;
    padding: 0 3.2rem;    
}

.description {
    font-size: 3.4rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.detailText {
    font-size: 2.2rem;
    padding-bottom: 0.1rem;
}

.errorMessage {
    font-size: 1.8rem;
}

.errorTitle {
    font-size: 4.4rem;
    margin-bottom: 1rem;
}

.gridColumns {
    grid-template-columns: repeat(2, 1fr);
}

.productContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.productDetailsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productImage {
    height: 50rem;
    image-resolution: from-image;
    object-fit: cover;
    resize: both;
    width: auto;
}

.title {
    font-size: 7.5rem;
    margin-bottom: 1rem;
}

.wrapper {
    height: 100vh;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 9.8rem;
}

/*Links*/
.link {
    display: block;
    color: var(--color-gray-900);
    font-size: 1.6rem;
    margin: 1.6rem;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: var(--color-secondary-700);
    transition: all 0.2s ease;
}

/*Media Queries*/
@media screen and (max-width: 1024px) {
    .description {
        font-size: 2.8rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .detailText {
        font-size: 1.8rem;
        padding-bottom: 0.1rem;
    }

    .gridColumns {
        grid-template-columns: repeat(1, 1fr);
    }

    .productContainer {
        flex-direction: column;

    }

    .title {
        font-size: 5.6rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 2.4rem;
        /* margin-bottom: 4.4rem; */
    }

    .buttonContainer {
        padding-bottom: 4.4rem;
    }

    .description {
        font-size: 2.6rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .errorMessage {
        font-size: 1.6rem;
    }

    .errorTitle {
        font-size: 3.4rem;
        margin-bottom: 1rem;
    }

    .productImage {
        height: 25rem;
        width: auto;
    }

    .title {
        font-size: 4.4rem;
        margin-bottom: 1rem;
    }

    .wrapper {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media screen and (max-width: 580px) {
    .description {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .detailText {
        font-size: 1.4rem;
        padding-bottom: 0.1rem;
    }

    .title {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
    }
}