.buttonContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4.8rem;
}

.detailsContainer {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 9.6rem;
    position: relative;
}

.detailsTitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transition: all 3s ease;
}

.selectContainer > h4 {
    color: blue
}

.selectContainer ul {
    width: fit-content;
    height: fit-content;

}

.selectContainer>ul>li {
    height: fit-content;
    padding: 0.25rem;
}


.selectedText {
    border: solid;
    border-color: var(--color-secondary-700);
    border-radius: 7.5px;
    border-width: 2.4px;
    width: fit-content;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.selectContainer>ul>li:hover {
    background-color: var(--color-secondary-700);
    color: var(--color-white)
}

.hidden {
    display: none;
}


.gridColumns {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 9.6rem;

}

.heading {
    color: var(--color-gray-700);
    font-size: 4.4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.image {
    align-self: center;
    border-radius: 7.5;
    height: 50rem;
    image-resolution: from-image;
    margin: 5%;
    object-fit: cover;
    resize: both;
    width: auto;
}

.limitLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    color: var(--color-secondary-700);
    cursor: pointer;
    font-size: 2.2rem;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: var(--color-secondary-700);
    transition: all 0.2s ease;
}

.limitTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.noItemsMessage {
    font-size: 6.4rem;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.title {
    color: var(--color-gray-600);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.touched {
    opacity: 0.5;
    transition: all 0.3s;
}

.touchable {
    opacity: 1;
    transition: opacity 300ms ease;
}

.details,
.price {
    color: var(--color-gray-600);
    font-size: 3.2rem;
    font-weight: 700;
    text-decoration: none;
}

.price {
    font-size: 2.4rem;
}


/*Media Queries*/
@media screen and (max-width: 1280px) {
    .gridColumns {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    .heading {
        font-size: 3.2rem;
    }

    .image {
        height: 40rem;
    }

    .section {
        margin-bottom: 10rem;
    }

}

@media screen and (max-width: 768px) {
    .details {
        font-size: 2rem;
    }

    .detailsContainer {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding-bottom: 4.8rem;
    }

    .header {
        font-size: 3rem;
    }

    .heading {
        font-size: 2.2rem;
    }

    .image {
        height: 30rem;
    }

    .noItemsMessage {
        font-size: 4.8rem;
    }

    .price {
        font-size: 1.8rem;
    }

    .section {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 540px) {
    .gridColumns {
        grid-template-columns: repeat(1, 1fr);
    }

}