.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    margin-bottom: 19.2rem;
}

.item {
    display: grid;
    background-color: rgba(255, 236, 209, 0.20);
    border-radius: 7.5px;
    display: flex;
    grid-template-columns: repeat(2, 1fr 2fr);
    height: auto;
    margin: 0 auto;
    max-width: 150rem;
    padding: 4.8rem;
}

.item>div>h3 {
    font-size: 6.4rem;
    margin-bottom: 2.2rem;
    padding: 1.2rem;
    text-align: left;
}

.item>img {
    align-self: center;
    justify-self: center;
    height: 50rem;
    image-resolution: from-image;
    object-fit: contain;
    resize: both;
    width: fit-content;
}

.descriptionContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.4rem;
}

.description {
    font-size: 3.4rem;
    padding: 1.2rem;
    width: 90%;
}

.detailTextContainer{ 
    width: 90%;
}

.detailText {
    font-size: 2.8rem;
    padding: 0 1.2rem;
    width: 100%;
}

.btnContainer{ 
    align-self: center; 
    margin-top: 4.4rem !important; 
}

.fullpage{
    width: 100%; 
    height: 100vh 
}

.link {
    align-self: flex-start;
    display: block;
    color: var(--color-gray-900);
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
    margin-left: 4.8rem;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: var(--color-secondary-700);
    transition: all 0.2s ease;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 4650px) {
    .container {
        height: 100vh;
    }
}

@media screen and (max-width: 6100px) {
    .container {
        height: 100vh;
    }
}

@media screen and (max-width: 1300px) {
    .item {
        margin-bottom: 1rem;

    }
    .container {
        height: 100%;
    }
}


@media screen and (max-width: 1024px) {
    .item>img {
        height: 35rem;
    }

    .item {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 4.6rem;
        padding-bottom: 4.6rem;
    }
    .descriptionContainer{
        align-items: center;
    }
}

@media screen and (max-width: 920px) {
     .item {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 4.6rem;
        padding-bottom: 4.6rem;
    }

}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 2.4rem;
        margin-bottom: 4.4rem;
    }

    .buttonContainer {
        padding-bottom: 4.4rem;
    }

    .description {
        font-size: 2.6rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .errorMessage {
        font-size: 1.6rem;
    }

    .errorTitle {
        font-size: 3.4rem;
        margin-bottom: 1rem;
    }

    .item>img {
        height: 25rem;
        width: fit-content;
    }

    .item>div>h3 {
        font-size: 4.4rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .description {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .detailText {
        font-size: 1.8rem;
        /* padding-bottom: 0.1rem; */
    }

    .item > div > h3 {
        font-size: 2.8rem;
        margin-bottom: 0.5rem;
    }
} 