.container {
    background-color: rgba(255, 236, 209, 0.20);
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 9.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9.6rem;
    max-width: 150rem;
    padding: 4.4rem;
  }
  .wrapper{
   height: 100vh;
  }