.container {
    max-width: 150rem;
    margin: 0 auto;
    padding: 9.6rem 3.2rem;
}

.text {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
    text-align: left;
    padding: 1rem;
    color: var(--color-gray-600);
    font-size: 3.8rem;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 4.8rem 3.2rem;
    }
    
    .text {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 480px) {
    .text {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 320px) {
    .text {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
        font-size: 2rem;
    }
}