.container {
    /*background-color: rgba(255, 236, 209, 0.20);*/
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
    }
}