.answer {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3.2rem;
    margin-left: 5rem;
    margin-top: 3.2rem;
    text-align: left;
    padding: 1rem;
    color: var(--color-gray-600)
}

.question {
    color: var(--color-primary-400);
    margin-top: 10rem;
}

@media screen and (max-width: 768px) {
    .answer {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
        margin-left: 1rem;
    }

    .question {
        margin-top: 5rem;
    }
}