.grid {
    column-gap: 0.25rem;
    row-gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: fit-content;
}

.image {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.selectColor {
    font-size: 1.8rem;
    width: 100%;
}

.selectedColor {
    font-size: 1.8rem;
    width: fit-content;
}

.text {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 500;
    text-align: left;
}

@media screen and (max-width: 1750px) {
    .image {
        height: 55px;
        width: 55px;
    }
    .grid {
        column-gap: 5px;
        row-gap: 5px;
    }
    .text {
        font-size: 2.8rem
    }
    
}

@media screen and (max-width: 1450px) {
    .image {
        height: 15px;
        width: 15px;
    }
    .text {
        font-size: 9px
    }
}

@media screen and (max-width: 1280px) {
    .grid{
        column-gap: 2.5px;
        row-gap: 2.5px;
    }
    .image {
        height: 22.5px;
        width: 22.5px;
    }
    .text {
        font-size: 7px
    }
}

@media screen and (max-width: 925px) {
    .grid{
        column-gap: 2.2px;
        row-gap: 2.2px;
    }
    .image {
        height: 30px;
        width: 30px;
    }
    .text {
        font-size: 5px
    }
}

