.grid {
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.image {
    cursor: pointer;
    height: 5rem;
    width: 5rem;
}

.selectColor { 
    color: var(--color-secondary-700);
    font-size: 1.4rem;
    font-weight: bold
 }

 .selectedColor {
    font-size: 1.4rem;
    font-weight: bold
 }

@media screen and (max-width: 768px) {
    .grid {
        gap: 1px
    }

    .image {
        height: 4rem;
        width: 4rem;
    }
}

@media screen and (max-width: 425px) {
    .grid {
        gap: 0.25px;
    }

    .image {
        height: 3rem;
        width: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .grid {
        gap: 0.25px;
    }

    .image {
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 2rem;
    }
}