.container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transition: all 3s ease;
}

.container>h4 {
    color: blue
}

.container ul {
    width: fit-content;
    height: fit-content;

}

.container>ul>li {
    height: fit-content;
    padding: 0.25rem;
}

.heading {
    border: solid;
    border-color: var(--color-secondary-700);
    border-radius: 7.5px;
    border-width: 2.4px;
    width: fit-content;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.container>ul>li:hover {
    background-color: var(--color-secondary-700);
    color: var(--color-white)
}

.hidden {
    display: none;
}