.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    left: 50%;
    top: 45%;
    position: absolute;
    top: 45%;
    z-index: 9999;
    transform: translate(-50%, 0);
    transition: all 3s ease;
}

.container>div>ul {
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: center;
    height: 100vh;
    border-radius: 7.5px;
    background-color:rgba(240, 240, 240, 0.95);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.container>div>ul>li {
    font-weight: 500;
    font-size: 2.4rem;
    padding: 1.8rem 4.4rem;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.container> h2{
    font-size: 2.8rem;
    padding-top: 1.2rem;
}


.selected {
    border: solid;
    cursor: pointer;
    border-color: var(--color-secondary-700);
    border-radius: 7.5px;
    border-width: 2.8px;
    color: var(--color-secondary-700);
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem 1.5rem;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.container>div>ul>li:hover {
    background-color: var(--color-secondary-700);
    color: var(--color-white);
    overflow: hidden;
}

.hidden {
    display: none;
}