.btn {
    background-color: #fff; /*rgba(255, 236, 209, 1.0);*/
    border: 1px solid var(--color-secondary-700);
    border-radius: 25px;
    cursor: pointer;
    font-size: 3.4rem;
    padding: 0.5rem 9.6rem;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.link {
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s ease;
}

.link p {
    color: var(--color-secondary-700);
    font-weight: 900;
    line-height: 2;
    margin: 0;
}

.link p:hover,
.link p:active {
    color: var(--color-primary-700);
}


@media (min-width: 150px) and (max-width: 280.98px) {
    .btn {
        font-size: 1.8rem;
    }
}
@media (min-width: 280px) and (max-width: 359.98px) {
    .btn {
        font-size: 2.2rem;
    }
}

@media (min-width: 360px) and (max-width: 480.98px) {
    .btn {
        font-size: 2.6rem;
    }
}

@media (min-width: 481px) and (max-width: 575.98px) {
    .btn {
        font-size: 2.8rem;
    }
}

@media (min-width: 576px) and (max-width: 639.98px){
    .btn {
        font-size: 3.0rem;
    }
}

@media (min-width: 640px) and (max-width: 767.98px){
    .btn {
        font-size: 3.0rem;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .btn {
        font-size: 3.0rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .btn {
        font-size: 3.0rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
    .btn {
        font-size: 3.2rem;
    }
}