.btn {
    background-color: #fff;
    border: 1px solid var(--color-secondary-700);
    border-radius: 25px;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 1.2rem 4.4rem;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.link {
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s ease;
}

.link p {
    color: var(--color-secondary-700);
    font-weight: 900;
    line-height: 1;
    margin: 0;
}