.addressForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formField {
    margin-bottom: 1rem;
  }
  
  .inputField {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    outline-color: orange; /* Set the outline color to orange */
  }
  
  .errorMessage {
    color: red;
    margin-top: 0.5rem;
  }
  
  .formActions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  