.btnContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: flex-end;
    margin-bottom: 9.6rem;
}

.form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 9.6rem;

}

.hr {
    margin-bottom: 9.8rem;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
    .btnContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .form {
        width: 100%;
    }
    .btnContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .form {
        width: 100%;
    }
    .btnContainer {
        justify-content: center;
    }
}