.checkoutBtnContainer {
    margin-top: 1.8rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid: repeat(2 1fr);
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.reviewHeading {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem 0;
}

.reviewText {
    font-size: 2.2rem;
    font-weight: 400;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
    .container {
        margin-bottom: 4.4rem;
        margin-top: 4.4rem;
    }

    .reviewHeading {
        font-size: 2.4rem;
    }

    .reviewText {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .reviewHeading {
        font-size: 2rem;
    }

    .reviewText {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 375px) {
    .reviewHeading {
        font-size: 1.8rem;
    }

    .reviewText {
        font-size: 1.6rem;
    }

}